@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-gray: #303841;
    --main-blue: #45567d;
    --color-green: #97cb50;
    --color-medium-gray: #7B7B7B;
    --color-dark-gray: #2c2c2c;
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--main-blue);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: var(--main-blue);
}



@-webkit-keyframes typed {
  /* string 1, char 1 */
  0%, 1.6996802721% {
    content: "H";
  }
  /* string 1, char 2 */
  1.7006802721%, 3.4003605442% {
    content: "He";
  }
  /* string 1, char 3 */
  3.4013605442%, 5.1010408163% {
    content: "Hey";
  }
  /* string 1, char 4 */
  5.1020408163%, 6.8017210884% {
    content: "Hey,";
  }
  /* string 1, char 5 */
  6.8027210884%, 8.5024013605% {
    content: "Hey, ";
  }
  /* string 1, char 6 */
  8.5034013605%, 10.2030816327% {
    content: "Hey, I";
  }
  /* string 1, char 7 */
  10.2040816327%, 11.9037619048% {
    content: "Hey, I'";
  }
  /* string 1, char 8 */
  11.9047619048%, 13.6044421769% {
    content: "Hey, I'm";
  }
  /* string 1, char 9 */
  13.6054421769%, 15.305122449% {
    content: "Hey, I'm ";
  }
  /* string 1, char 10 */
  15.306122449%, 17.0058027211% {
    content: "Hey, I'm N";
  }
  /* string 1, char 11 */
  17.0068027211%, 18.7064829932% {
    content: "Hey, I'm No";
  }
  /* string 1, char 12 */
  18.7074829932%, 20.4071632653% {
    content: "Hey, I'm NoS";
  }
  /* string 1, char 13 */
  20.4081632653%, 22.1078435374% {
    content: "Hey, I'm NoSe";
  }
  /* string 1, char 14 */
  22.1088435374%, 23.8085238095% {
    content: "Hey, I'm NoSer";
  }
  /* string 1, char 15 */
  23.8095238095%, 25.5092040816% {
    content: "Hey, I'm NoServ";
  }
  /* string 1, char 16 */
  25.5102040816%, 27.2098843537% {
    content: "Hey, I'm NoServi";
  }
  /* string 1, char 17 */
  27.2098843537%, 28.9095646259% {
    content: "Hey, I'm NoServie";
  }
  /* string 1, char 18 */
  28.9095646259%, 62.5840340136% {
    content: "Hey, I'm NoServiece";
  }
  /* string 1, char 19 */
  62.5850340136%, 63.9445782313% {
    content: "Hey, I'm NoServie";
  }
  /* string 1, char 20 */
  63.9455782313%, 65.305122449% {
    content: "Hey, I'm NoServi";
  }
  /* string 1, char 21 */
  65.306122449%, 66.6656666667% {
    content: "Hey, I'm NoServ";
  }
  /* string 1, char 22 */
  66.6666666667%, 68.0262108844% {
    content: "Hey, I'm NoSer";
  }
  /* string 1, char 23 */
  68.0272108844%, 69.386755102% {
    content: "Hey, I'm NoSe";
  }
  /* string 1, char 24 */
  69.387755102%, 70.7472993197% {
    content: "Hey, I'm NoS";
  }
  /* string 1, char 25 */
  70.7482993197%, 72.1078435374% {
    content: "Hey, I'm No";
  }
  /* string 1, char 26 */
  72.1088435374%, 73.4683877551% {
    content: "Hey, I'm N";
  }
  /* string 1, char 27 */
  73.4693877551%, 74.8289319728% {
    content: "Hey, I'm ";
  }
  /* string 1, char 28 */
  74.8299319728%, 76.1894761905% {
    content: "Hey, I'm";
  }
  /* string 1, char 29 */
  76.1904761905%, 77.5500204082% {
    content: "Hey, I'";
  }
  /* string 1, char 30 */
  77.5510204082%, 78.9105646259% {
    content: "Hey, I";
  }
  /* string 1, char 31 */
  78.9115646259%, 80.2711088435% {
    content: "Hey, ";
  }
  /* string 1, char 32 */
  80.2721088435%, 81.6316530612% {
    content: "Hey,";
  }
  /* string 1, char 33 */
  81.6326530612%, 82.9921972789% {
    content: "Hey";
  }
  /* string 1, char 34 */
  82.9931972789%, 84.3527414966% {
    content: "He";
  }
  /* string 1, char 35 */
  84.3527414966%, 85.7122857143% {
    content: "H";
  }
  /* string 1, char 36 */
  85.7122857143%, 100% {
    content: "​";
  }
}
@keyframes typed {
  /* string 1, char 1 */
  0%, 1.6996802721% {
    content: "H";
  }
  /* string 1, char 2 */
  1.7006802721%, 3.4003605442% {
    content: "He";
  }
  /* string 1, char 3 */
  3.4013605442%, 5.1010408163% {
    content: "Hey";
  }
  /* string 1, char 4 */
  5.1020408163%, 6.8017210884% {
    content: "Hey,";
  }
  /* string 1, char 5 */
  6.8027210884%, 8.5024013605% {
    content: "Hey, ";
  }
  /* string 1, char 6 */
  8.5034013605%, 10.2030816327% {
    content: "Hey, I";
  }
  /* string 1, char 7 */
  10.2040816327%, 11.9037619048% {
    content: "Hey, I'";
  }
  /* string 1, char 8 */
  11.9047619048%, 13.6044421769% {
    content: "Hey, I'm";
  }
  /* string 1, char 9 */
  13.6054421769%, 15.305122449% {
    content: "Hey, I'm ";
  }
  /* string 1, char 10 */
  15.306122449%, 17.0058027211% {
    content: "Hey, I'm N";
  }
  /* string 1, char 11 */
  17.0068027211%, 18.7064829932% {
    content: "Hey, I'm No";
  }
  /* string 1, char 12 */
  18.7074829932%, 20.4071632653% {
    content: "Hey, I'm NoS";
  }
  /* string 1, char 13 */
  20.4081632653%, 22.1078435374% {
    content: "Hey, I'm NoSe";
  }
  /* string 1, char 14 */
  22.1088435374%, 23.8085238095% {
    content: "Hey, I'm NoSer";
  }
  /* string 1, char 15 */
  23.8095238095%, 25.5092040816% {
    content: "Hey, I'm NoServ";
  }
  /* string 1, char 16 */
  25.5102040816%, 27.2098843537% {
    content: "Hey, I'm NoServi";
  }
  /* string 1, char 17 */
  27.2098843537%, 28.9095646259% {
    content: "Hey, I'm NoServie";
  }
  /* string 1, char 18 */
  28.9095646259%, 62.5840340136% {
    content: "Hey, I'm NoServiece";
  }
  /* string 1, char 19 */
  62.5850340136%, 63.9445782313% {
    content: "Hey, I'm NoServie";
  }
  /* string 1, char 20 */
  63.9455782313%, 65.305122449% {
    content: "Hey, I'm NoServi";
  }
  /* string 1, char 21 */
  65.306122449%, 66.6656666667% {
    content: "Hey, I'm NoServ";
  }
  /* string 1, char 22 */
  66.6666666667%, 68.0262108844% {
    content: "Hey, I'm NoSer";
  }
  /* string 1, char 23 */
  68.0272108844%, 69.386755102% {
    content: "Hey, I'm NoSe";
  }
  /* string 1, char 24 */
  69.387755102%, 70.7472993197% {
    content: "Hey, I'm NoS";
  }
  /* string 1, char 25 */
  70.7482993197%, 72.1078435374% {
    content: "Hey, I'm No";
  }
  /* string 1, char 26 */
  72.1088435374%, 73.4683877551% {
    content: "Hey, I'm N";
  }
  /* string 1, char 27 */
  73.4693877551%, 74.8289319728% {
    content: "Hey, I'm ";
  }
  /* string 1, char 28 */
  74.8299319728%, 76.1894761905% {
    content: "Hey, I'm";
  }
  /* string 1, char 29 */
  76.1904761905%, 77.5500204082% {
    content: "Hey, I'";
  }
  /* string 1, char 30 */
  77.5510204082%, 78.9105646259% {
    content: "Hey, I";
  }
  /* string 1, char 31 */
  78.9115646259%, 80.2711088435% {
    content: "Hey, ";
  }
  /* string 1, char 32 */
  80.2721088435%, 81.6316530612% {
    content: "Hey,";
  }
  /* string 1, char 33 */
  81.6326530612%, 82.9921972789% {
    content: "Hey";
  }
  /* string 1, char 34 */
  82.9931972789%, 84.3527414966% {
    content: "He";
  }
  /* string 1, char 35 */
  84.3527414966%, 85.7122857143% {
    content: "H";
  }
  /* string 1, char 36 */
  85.7122857143%, 100% {
    content: "​";
  }
}
@-webkit-keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}


.typing::after {
  content: "​";
  position: relative;
  top: -13px;
  display: inline-block;
  font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 3px;
  margin-top: 5rem;
  padding-right: calc(3px + 0.1vw);
  border-right: 1px solid rgba(12, 163, 223, 0.938);
  border-right: calc(1.1vw + 1px) solid rgba(12, 163, 223, 0.938);
  text-shadow: 0 0 5px rgba(27, 27, 27, 0.534);
  white-space: nowrap;
  -webkit-animation: typed 5.88s linear 1s infinite, beam-blink 1s infinite;
          animation: typed 5.88s linear 1s infinite, beam-blink 1s infinite;
}
@media (max-width: 575px) {
    .typing::after {
    top: -33px;
  }
}
.typing::before {
  content: "1 strings / 16 chars / 5.88s duration";
  display: block;
  position: absolute;
  bottom: 0;
  background: var(--main-blue);
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
  white-space: pre-wrap;
}
@media (max-width: 575px) {
  .typing::before {
    content: "1 strings \a 16 chars \a 5.88s duration";
  }
}




#profile_page {
    width: 35px;
    height: 35px;
}

.card {
    padding-bottom: 100px;
    margin-bottom: 10px;
}

/* .navbar {
    background: var(--main-red);
    font-size: 1.5em;
    display: flex;
    padding: 5px;
    margin-bottom: 20px; 
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
} */

@media only screen and (max-width: 768px) {
  .nav-links {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-item.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* 
#header {
    font-family: Arial, Helvetica;
    font-weight: bolder;
    color: var(--main-white);
} */

/* .navlinks {
    list-style: none;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    justify-content: space-between;
}

.navlinks a:hover {
    background: var(--main-blue);
    border-radius: 6px;
    box-shadow: 0 8px 3px -16px var(--main-blue);
    color: rgb(235, 228, 228);
} */

li {
  list-style: none;
}


.navbar {
  background: var(--main-red);
    font-size: 1em;
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-white);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--main-white);
}

.nav-link:hover, .nav-logo:hover{
  text-decoration: 0.4rem solid underline var(--main-blue);
  box-shadow: 0 8px 3px -16px var(--main-blue);
  color: rgb(235, 228, 228);

}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--main-white);
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: 100%;
      top: 4.5rem;
      flex-direction: column;
      background-color: var(--main-red);
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: left;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: .65rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}

a {
    text-decoration: none;
    color: var(--main-white);
    padding: 10px;
    font-size: 18px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    border-bottom: 3px solid var(--main-red);
    padding-top: 85px;
    font-style: italic;
    color: rgb(37, 188, 226);
}

#message {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    color: var(--main-red);
    margin-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 3rem;
}

#welcom {
    text-align: left;
    font-size: 30px;
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h5 { 
    font-family: 'Fira Code', Verdana, Geneva, Tahoma, sans-serif;
}

#ibrah {
    font-family: 'Fira Code', monospace, Verdana, Arial, Helvetica, sans-serif;;
}
.coder {
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    color: var(--main-red);
    margin-top: 10px;
    text-align: left;
}

.xplore {
    padding: 10px;
    border: 1px solid var(--main-red);
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.xplore:hover {
    background: var(--main-red);
    padding: 10px;
    border: 1px solid var(--main-red);
    border-radius: 4px;
}

.card {
    display: flex;
    /* grid-template-columns: auto auto;   */
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card1 {
    background-color: #be3144;
    color: var(--main-white);
    margin-top: 25px;
    /* border: 1px solid var(--main-gray); */
    border-top-left-radius: 100px 100px;    min-height: 90%;
    width: 70%;
    padding: 10px;
    font-size: 16.5px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.68);
}

.card1:hover {
    background: var(--main-gray);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 70%;
    height: 95%;
}

.card2 {
    background-color: rgb(37, 188, 226);
    color: black;
    margin-top: 25px;
    /* border: 1px solid var(--main-gray);
    border-radius: 20px; */
    min-height: 90%;
    width: 70%;
    padding: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.68);
}

.card2:hover {
    color: var(--main-grey);
    background: rgba(248, 165, 248, 0.667);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 70%;
    height: 95%;
}

.card3 {
    background-color: #303841;
    color: var(--main-white);
    margin-top: 25px;
    /* border: 1px solid var(--main-gray);
    border-radius: 20px; */
    min-height: 90%;
    width: 70%;
    padding: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.68);}

.card3:hover {
    color: var(--main-white);
    background: var(--main-blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 70%;
    height: 95%;
}

.card4 {
    background-color: rgb(32, 130, 241);
    margin-top: 25px;
    border-bottom-right-radius: 90px 90px;
    min-height: 90%;
    width: 70%;
    padding: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.68);
}

.card4:hover {
    color: #f0f0f0;
    background: var(--main-red);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 70%;
    height: 95%;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    padding: 0 2rem;
    background: var(--main-gray);
    border-top: 2px solid rgb(9, 118, 161);
    border-bottom: 2px solid rgb(70, 5, 5);
    box-shadow: 7px 0 0 rgba(9, 118, 161)
}

#fun {
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5rem;
    color: #eaea;
    margin-top: 1rem;
}

#cof {
    font-size: 1rem;
    font-style: italic;
    font-family: Verdana;
    color: #eaeaea;
    /* padding-bottom: 1rem; */
}

.social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    /* max-width: 980px; */
    margin-top: 4rem;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    
    
}

.contact-details {
    padding: 0 1rem 0rem 1rem;
    font-size: 1rem;
}



footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    color: grey;
    font-size: 1em;
    padding-top: 1.2rem;

    
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    .socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 30vh;
        /* padding: 0 .5rem; */
        background: var(--main-gray);
        border-top: 2px solid rgb(9, 118, 161);
        border-bottom: 2px solid rgb(70, 5, 5);
        box-shadow: 7px 0 0 rgba(9, 118, 161)
    }
    #fun {
        font-weight: bold;
        font-size: 1rem;
        color: #eaea;
        padding-top: .5rem;
        text-shadow: 1px 2px 3px rgba(255, 255, 255, 0)
    }
    #cof {
        font-size: .6rem;
        text-shadow: 1px 2px 3px rgba(255, 255, 255, 0)

    }
    .social-links {
        margin-top: 1rem;
        
    }
    footer {
        font-weight: 300;
        display: flex;
        justify-content: space-evenly;
        padding: .1rem;
        background: var(--main-gray);
        border-top: 4px solid var(--main-red);
        color: grey;
        font-size: .6em;
        padding-top: .9rem;
    }
}

.foot-a {
    color: grey;
    font-size: .97em;
    margin-top: .5rem;
}

.contact {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    text-align: center;
}

.contact__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10rem;
    margin-top: 4rem;
    max-width: 60rem;
    text-align: right;
    width: 85%;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    .contact {
        padding-top: 7.5rem;
    }
    .contact__form-container {
        padding: 1rem;
    }
}

.contact__form-field {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .contact__form-field {
        margin-bottom: 3rem;
    }
}

.contact__form-label {
    /* font-size: 1.3rem; */
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: .2rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: rgb(22, 22, 22);
    font-weight: 700;
    padding: 17px 15px 10px;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 2rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
}

.contact__form-input::placeholder {
    color: #999;
    font-weight: 100;
    font-size: 1rem;
}

.contact__form-input::-webkit-input-placeholder {
    color: #999;
    font-size: 1.6rem;
}

.contact__form-input:-ms-input-placeholder {
    color: #999;
    font-size: 1.6rem;
}

.contact__form-input::-ms-input-placeholder {
    color: #999;
    font-size: 1rem;
}

.contact__form-input:-moz-placeholder {
    opacity: 1;
    color: #999;
    font-size: 1rem;
}

.contact__form-input::-moz-placeholder {
    opacity: 1;
    color: #999;
    font-size: 1rem;
}

.contact__btn {
    width: 20%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 1.6rem;
    background-color: rgba(0, 98, 185, 0.8)
}

.name__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.profile__card {
    /* font-size: 2.5rem; */
    color: rgb(214, 208, 208);
    font-family: Roboto;
    font-weight: bold;
    background: #000033;
    background-repeat: no-repeat;
    border: none;
    /* border-radius: 0.5rem; */
    margin: auto;
    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.68);
} 

.profile {
    height: 37%;
    width: 50%;
} 

.name__title {
    font-size: 1rem;
    padding-top: .5rem;
}

.carrer__title {
    font-size: .8rem;
    font-family: 'Fira Code';
    margin-top: 1.2rem;
    color: rgb(177, 171, 171);
}

.institution {
    margin: .3rem;
    font-size: .9rem;
    color: rgb(177, 171, 171);
}

.card__btn {
    font-size: .1rem;
    font-weight: bold;
    font-family: Verdana;
    background: var(--main-red);
    color: #000033;
    margin-bottom: 1rem;
}

.social__icon {
    margin: 1.2rem;
}

@media only screen and (min-width: 600px) {
    .contact__form-container {
        padding: 1rem;
    }
    .contact__form-input {
        font-size: 1rem;
    }
    .contact__form-input::placeholder {
        font-size: 1.2rem;
    }

}
@media only screen and (max-width: 600px) {
    .profile__card {
        /* font-size: 2.5rem; */  
        width: 70%;
    } 
   
    .contact__btn {
        width: 100%;
        margin-top: 0;
        padding: 5px 5px;
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .contact__form-input::placeholder {
        color: #999;
        font-weight: 60;
        font-size: 1rem;
    }
    .contact__form-input {
        color: rgb(22, 22, 22);
        padding: 10px 8px 4px;
        width: 100%;
        border: 1px solid #ebebeb;
        font-size: 1rem;
        letter-spacing: 0px;
        background: #f0f0f0;
        border-radius: 5px;
    }
}

.name {
    font-weight: 300;
    font-size: larger;
    padding: 20px 0 10px 0;
}

#com {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#box1 {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

#box {
    width: 350px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 5px;
}

#btn {
    width: 70px;
    height: 40px;
    margin-bottom: 40px;
}


.reg {
    text-align: center;
    background: var(--main-red);
    box-shadow: 5px 5px 1px var(--main-gray);
}

#app {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    border-bottom: 5px groove var(--main-blue);
}

#reg {
    font-size: 1rem;
    font-family: Fira Code, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.8rem;
}

.container_about {
    display: grid;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.view {
    min-height: 90%;
    width: 60%;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}


.lang {
    background: #000033;
    margin: 2rem auto;
    color: var(--main-white);
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    font-weight: 600;
    box-shadow: 5px 5px 2px  var(--main-red);

}

.language {
    display: inline-block;
    /* padding: 30px;
    padding-bottom: 2px; */
    font-size: 2rem;
    font-family: 'Fira Code', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-style: italic;
    color: var(--main-white);
    list-style: none;
    text-shadow: -2px -1px 16px rgba(0, 0, 0, 0.61);
}

.language_icon {
    display: inline-block;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 2px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    list-style: none;
    text-shadow: -2px -1px 16px rgba(0, 0, 0, 0.61);
}

.fa-html5 { 
    color: #d62332;
}

.fa-css3-alt { 
    color: #0533b3;
}

.fa-js-square {  
    color: #d3d623;
}

.fa-react { 
    color: #00e6f7;
}

.fa-python { 
    color: rgb(140, 190, 2); 
}

.prog {
    padding-top: 5px;
    font-style: italic;
    text-shadow: -2px -1px 16px rgba(143, 142, 142, 0.61);
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    .navbar {
        background: var(--main-red);
        font-size: 5px;
        display: flex;
        padding: 2px;
        /* margin-bottom: 20px; */
        justify-content: space-between;
        display: flex;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    }
    .navlinks {
        list-style: none;
        display: flex;
        padding: auto;
        margin-top: auto;
        justify-content: space-between;
        font-size: 0.5em;
    }
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 100%;
        min-height: 100vh;
        background-color: #000;
        background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
        border-bottom: 3px solid var(--main-red);
        padding-top: 220px;
        padding-bottom: 80px;
        font-style: italic;
        color: rgb(37, 188, 226);
    }
    #message {
        font-size: 18px;
        font-style: italic;
        color: var(--main-red);
        margin-top: 25px;
        padding-left: 5px;
    }
    #welcom {
        text-align: center;
        font-size: 10px;
        font-family: rowdies;
        font-style: italic;
    }

    .row {
        margin: 0 auto;
    }


.fa-check-circle {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  opacity: 0.75;
}

.msg-description {
  visibility: hidden;
  font-size: 0.1em;
  display: inline-block;
}

.msgs {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 128px;
}

.msg-contents {
  display: none;
  position: relative;
  height: 100px;
}


    .ibrah {
        font-size: 10px;
        font-style: italic;
        justify-content: space-around;
        font-family: rowdies;
    }
    .coder {
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
        color: var(--main-red);
        margin-top: 10px;
        text-align: left;
    }
    .xplore {
        padding: 5px;
        border: 1px solid var(--main-red);
        border-radius: 4px;
        font-weight: 600;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .xplore:hover {
        background: var(--main-red);
        padding: 10px;
        border: 1px solid var(--main-red);
        border-radius: 4px;
    }

    
    .reg {
        margin: 6px;
    }
    
    #app {
        font-size: 1.2rem;
        letter-spacing: 3px;    
    }

    .container_about {
        /* position: relative; */
        display: grid;
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        padding-left: .5rem;
        padding-right: 0.5rem;
        left: 5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .view {
        height: 70%;
        width: 60%;
        align-items: center;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    .contact__btn {
        width: 100%;
        margin-top: 0;
        padding: 10px 10px;
        font-size: 1.2rem;
    }
    .contact {
        padding-top: 8rem;
    }
    .profile__card {
        margin-top: 2rem;
        width: 50%;
        
    }
}

@media only screen and (min-width: 768px) {
    .profile__card {
        margin-top: 8rem;
        width: 50%;
        
    }
    
    .contact-details {
        padding: 0 1.5rem 0rem 1.5rem;
        font-size: 1rem;
    }
    
    .welcome {
        margin: 3rem 0rem 3rem 0rem;
        padding-bottom: 3rem;
    }

    .card {
        display: grid;
        grid-template-columns: auto auto;  
    }

    .card1 {
        border-top-left-radius: 50px 50px;
    }

    .card4 {
        border-bottom-right-radius: 50px 50px;
    }

    .reg {
        margin: 10px;
    }
    
    .projects-section-header {
        font-size: 3rem;
    }
    
}

.projects-section {
    text-align: center;
    padding: 5rem 2rem;
    min-height: 100vh;
    background: var(--main-blue);
}

.projects-section-header {
    text-transform: capitalize;
    font-size: 2rem;
    max-width: 640px;
    margin: 2rem auto 3rem auto;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    border-bottom: 0.2rem solid var(--main-white);
}

.btn-show-all {
    color: var(--main-white);
}


@media (max-width: 28.75rem) {
    .projects-section-header {
        font-size: 2rem;
        margin-top: 4rem;
    }
    .profile__card {
        margin-top: 3rem;
        width: 70%;
        
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media (max-width: 30.625rem) {
  
    .projects-section {
        padding: 2rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        
    }

}

.project {
    background: var(--main-gray);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin-left: 10%;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(80% - 4rem);
    width: 60%;
    object-fit: cover;
}

.project-title {
    font-size: 1rem;
    padding: 1rem 0.5rem;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    /* padding: 10px 5px; */
    border-radius: 5px;
    /* margin-top: 20px; */
}

.btn-show-all {
    font-size: 1.5rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: trnaslateX(0);
    transition: transform 0.3s ease-out;
}

.partner-icons {
    padding: 2rem;
    font-size: 2rem;
}

@media only screen and (min-width: 300px) and (max-width:670px) {
    .projects-section {
        text-align: center;
        padding: 10rem 5rem;
        background: var(--main-blue);
    }
    .project-image {
        height: calc(80% - 4rem);
        width: 100%;
        object-fit: cover;
    }
    .project {
        background: var(--main-gray);
        border-radius: 2px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        width: 100%;
        margin-left: 5%;
    }
    .project-title {
        font-size: 14px;
        padding: 2rem 1rem;
    }
    .btn {
        display: inline-block;
        /* padding: 10px 5px; */
        border-radius: 5px;
        margin-top: 20px;
        font-size: 1rem;
        font-weight: bold;
    }

    .contact-details {
        padding: 1rem .5rem 0rem .5rem;
        font-size: 1rem;
    }
}